<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>country</key>
		<string>USA</string>
		<key>cities</key>
		<array>
			<string>Boulder</string>
			<string>New York</string>
			<string>Miami</string>
		</array>
	</dict>
	<dict>
		<key>country</key>
		<string>Brazil</string>
		<key>cities</key>
		<array>
			<string>Rio de Janeiro</string>
			<string>Belo Horizonte</string>
			<string>Sāo Paulo</string>
		</array>
	</dict>
</array>
</plist>
